head
	title #{title}
	meta(charset='utf-8')
	link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
	link(rel='stylesheet' href="/css/style.css")
	script(src="http://code.jquery.com/jquery-latest.js")
