include ./delete_button.jade

mixin message(message, isAdmin, registered, topic)
	.panel.panel-default
		.panel-heading
			.label.label-default=message.author
			if isAdmin || (registered && message.author == nickname)
				+delete_button('delete_user/'+message.author)
			=' ' + message.timestamp
			if isAdmin || (registered && message.author == nickname)
				.right-pressed
					+delete_button('delete_message/'+message._id+'/'+message.author+'/'+topic)
		.panel-body=message.text