mixin navbar(homepage_title, path_to_section, path_to_topic, path_to_registration)
	ol.breadcrumb
		li
			a(href='/')=homepage_title
		if path_to_section != undefined
			li
				a(href='/'+path_to_section)=path_to_section
			if path_to_topic != undefined
				li
					a(href='/' + path_to_section+'/'+path_to_topic)=path_to_topic
		else
			if path_to_registration != undefined
				li
					a(href='/' + path_to_registration)=path_to_registration