include ./delete_button.jade
mixin sign_up_form(registered, path_to_registration, nickname)
	if !registered
		form.form-horizontal(method='post', action='/login')
			.form-group
				input.form-control(name='login', type='text', id='login_input', placeholder='Введите логин')
			.form-group
				input.form-control(name='password', type='password', id='password_input', placeholder='Введите пароль')
			.form-group
				button.btn.btn-default.col-sm-offset-2.col-sm-4(type='submit') Login
				a(href='/registration')
					button.btn.btn-default.col-sm-offset-1.col-sm-5(type='button') Sign Up
	else
		p Вы зашли как 
			span.label.label-default #{nickname}
		.row
			.col-sm-10
				p Удалить себя >:(
					+delete_button('delete_user/' + nickname)
			a(href='/logout')
					button.btn.btn-default.col-sm-offset-1.col-sm-5(type='button') Logout
