//- - var user = {'role' : 'guest'}
//- - var navbar = {"Главная" : '#', "Регистрация" : '#'}

include ./includes/doctype.jade
include ./includes/head.jade
include ./includes/navbar.jade
html
	+navbar(navbar)
	.container.top-buffer
		case role=user.role
			when role = 'guest'
				.row
					form.form-horizontal
						.form-group
							label.col-sm-offset-2.col-sm-2.control-label(for='email_input') Логин:
							.col-sm-4
								input.form-control(type='email', id='email_input', placeholder='Введите логин')
						.form-group
							label.col-sm-offset-2.col-sm-2.control-label(for='password_input') Пароль:
							.col-sm-4
								input.form-control(type='password', id='password_input', placeholder='Введите пароль')
						.form-group
							.col-sm-offset-4.col-sm-4
								.checkbox
									label(for='checkbox_input')
										input(type='checkbox')
										Запомнить меня
						.form-group
							.col-sm-offset-4.col-sm-4
								button.btn.btn-default(type='submit') Войти
			default
				.row
					.alert.alert-danger.col-sm-offset-2.col-sm-8 Вы уже вошли на сайт