//- - var navbar = {}

include ./includes/doctype.jade
include ./includes/head.jade
include ./includes/navbar.jade
html
	+navbar(navbar)
	.container.top-buffer
		.row
			h3.col-sm-offset-2.col-sm-8 Завершение регистрации
		.row
			p.text-success.col-sm-offset-2.col-sm-8 Поздравляем с успешной регистрацией! Для завершения регистрации подтвердите Ваш аккаунт.
							Ссылка для подтверждения была выслана на адрес #{email}