//- - var registration_link = "#"
//- - var sign_up_link = "#"


include ./includes/doctype.jade
include ./includes/head.jade
include ./includes/navbar.jade
html
	.container.top-buffer
		.jumbotron.col-sm-offset-2.col-sm-8
				h3 Добро пожаловать на наш форум! 
				p.text-info Чтобы начать общение 
					a(href=registration_link) зарегистрируйтесь&nbsp
					или&nbsp
					a(href=sign_up_link) войдите