//- - var navbar = {"asd" : '#'}
//- - var user = {'role' : 'guest'}

include ./includes/doctype.jade
include ./includes/head.jade
include ./includes/navbar.jade
html
	+navbar(navbar)
	case role=user.role
		when role = 'guest'
			.container.top-buffer
				.row
					form.form-horizontal
						.form-group
							label.col-sm-offset-2.col-sm-2.control-label(for='login_input') Логин:
							.col-sm-4
								input.form-control(type='text', id='login_input', placeholder='Введите логин')
						.form-group
							label.col-sm-offset-2.col-sm-2.control-label(for='password_input') Пароль:
							.col-sm-4
								input.form-control(type='password', id='password_input', placeholder='Введите пароль')
						.form-group
							label.col-sm-offset-2.col-sm-2.control-label(for='password_check_input') Повторите пароль:
							.col-sm-4
								input.form-control(type='password', id='password_check_input', placeholder='Введите пароль')
						.form-group
							label.col-sm-offset-2.col-sm-2.control-label(for='email_input') Email:
							.col-sm-4
								input.form-control(type='email', id='email_input', placeholder='Введите email')
						.help-block.col-sm-offset-4.col-sm-4 Введите ваш настоящий email, на него будет выслано письмо с уникальной ссылкой
						.form-group
							.col-sm-offset-4.col-sm-4
								button.btn.btn-default(type='submit') Зарегистрироваться
		default
			.row
				.alert.alert-danger.col-sm-offset-2.col-sm-8 Вы уже вошли на сайт