//- - var navbar = {}
//- - var topics = [{name: "Главная", url: "#"}, {name: "Регистрация", url: "/reg.html?"}]
//- - var topics = []

include ./includes/doctype.jade
include ./includes/head.jade
include ./includes/navbar.jade
html
	+navbar(navbar)
	.container.top-buffer
		.row
			h3.col-sm-offset-2.col-sm-8 #{section.name}
		.row
			.col-sm-offset-2.col-sm-8
				if topics == undefined || topics.length == 0
					p В данном разделе еще не создано ни одной темы
				else
					ul.nav.nav-pills.nav-stacked
						each topic in topics
							li
								a(href=topic.url)=topic.name