doctype html
head
	title Sample Page
	meta(charset='utf-8')
	link(rel='stylesheet' href='css/main.css')
body
	.container
		h1 Hello World!
		p lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
	script(src='js/all.js')
