//- - var navbar = {}
//- - var user = {'role' : 'admin', 'id' : 1}
//- - var messages = [{'author' : "Вася", 'author_id' : 1, 'timestamp' : "12:23", 'content' : 1},{'author' : "Вася", 'author_id' : 2, 'timestamp' : "12:223", 'content' : 4}]

include ./includes/doctype.jade
include ./includes/head.jade
include ./includes/navbar.jade
include ./includes/message.jade
html
	+navbar(navbar)
	.container.top-buffer
		.row
			h3.col-sm-offset-2.col-sm-8 #{section}dsfsdf
		.row
			.col-sm-offset-2.col-sm-8
				each message in messages
					+message(message, user)
	
			form.form-horizontal.col-sm-offset-2.col-sm-8
				.form-group
					textarea.form-control(rows='3')
				.form-group
					button.btn.btn-default.right-pressed(type='submit') Отправить