//- var isAdmin
//- var registered
//- var nickname
//- var path_to_topic
//- - var path_to_section = "section1"

- var homepage_title = "Главная"
//- var topic_url = dir + "/" + path_to_section + "/" + path_to_topic
//- var section_url = dir + "/" + path_to_section

//- - var sections = ["asdasd", "asdasdasdas"]
//- - var topics = ["topic1", "topic2"]

include ./includes/doctype.jade
include ./includes/head.jade
include ./includes/navbar.jade
include ./includes/sign_up_form.jade
include ./includes/delete_button.jade
html
	+navbar(homepage_title, path_to_section, path_to_topic, path_to_registration)
	.container.top-buffer
		.row
			if path_to_section == undefined
				h3.col-sm-offset-2.col-sm-8 #{homepage_title}
			else
				h3.col-sm-offset-2.col-sm-8 #{path_to_section}
		.row
			.col-sm-offset-2.col-sm-8
				if path_to_section == undefined
					if sections == undefined || sections.length == 0
						p Нет ни одной секции
					else
						.row
							if isAdmin
								ul.nav.nav-pills.nav-stacked.col-sm-1
									each section in sections
										li
											+delete_button('delete_section/'+section)
								ul.nav.nav-pills.nav-stacked.col-sm-11
									each section in sections
										li
											a(href="/"+section)=section
							else
								ul.nav.nav-pills.nav-stacked
									each section in sections
										li
											a(href="/"+section)=section
					if registered && isAdmin
						form.form-horizontal(method='post', action='/new_section')
							.form-group
								.col-sm-4
									input.form-control(name='section', type='text', placeholder='Введите имя новой секции')
							.form-group
								.col-sm-4
									button.btn.btn-default(type='submit') Создать секцию
				else
					if topics == undefined || topics.length == 0
						p В данном разделе еще не создано ни одной темы
					else
						.row
							if isAdmin
								ul.nav.nav-pills.nav-stacked.col-sm-1
									each topic in topics
										li
											+delete_button('delete_topic/'+path_to_section +"/"+topic)
								ul.nav.nav-pills.nav-stacked.col-sm-11
									each topic in topics
										li
											a(href="/" + path_to_section + "/" + topic)=topic
							else
								ul.nav.nav-pills.nav-stacked
									each topic in topics
										li
											a(href="/" + path_to_section + "/" + topic)=topic
					if registered
						form.form-horizontal(method='post', action='/new_topic/'+path_to_section)
							.form-group
								.col-sm-4
									input.form-control(name='topic', type='text', placeholder='Введите имя новой темы')
							.form-group
								.col-sm-4
									textarea.form-control(name='message', placeholder='Введите сообщение')
							.form-group
								.col-sm-4
									button.btn.btn-default(type='submit') Создать тему
			.col-sm-2
				+sign_up_form(registered, path_to_registration, nickname)