- var homepage_title = "Главная"

include ./includes/doctype.jade
include ./includes/head.jade
include ./includes/navbar.jade
html
	//- script
	//- 		|
	+navbar(homepage_title, path_to_section, path_to_topic, path_to_registration)
	if !registered
		.container.top-buffer
			.row
				form.form-horizontal(method='post', action='/registration')
					//- .form-group.has-error.has-feedback
					.form-group
						label.col-sm-offset-2.col-sm-2.control-label(for='login_input') Логин:
						.col-sm-4
							input.form-control(name='login', type='text', id='login_input', placeholder='Введите логин')
							//- span.glyphicon.glyphicon-warning-sign.form-control-feedback(aria-hidden='true')
					.form-group
						label.col-sm-offset-2.col-sm-2.control-label(for='password_input') Пароль:
						.col-sm-4
							input.form-control(name='password', type='password', id='password_input', placeholder='Введите пароль')
					.form-group
						label.col-sm-offset-2.col-sm-2.control-label(for='email_input') Email:
						.col-sm-4
							input.form-control(name='email', type='email', id='email_input', placeholder='Введите email')
					.help-block.col-sm-offset-4.col-sm-4 Введите ваш настоящий email, на него будет выслано письмо с уникальной ссылкой
					.form-group
						.col-sm-offset-4.col-sm-4
							button.btn.btn-default(type='submit') Зарегистрироваться
	else
		.row
			.alert.alert-danger.col-sm-offset-2.col-sm-8 Вы уже вошли на сайт