//- - var isAdmin = true
//- var registered
//- var nickname
//- - var path_to_topic = "topic"
//- - var path_to_section = "section1"
//- - var path_to_registration = "registration"
//- var dir

//- - var messages = [{'text': 'text', 'author':'author', 'timestamp':'timestamp'},{'text': 'text', 'author':'author', 'timestamp':'timestamp'}]

- var homepage_title = "Главная"

include ./includes/doctype.jade
include ./includes/head.jade
include ./includes/navbar.jade
include ./includes/message.jade
include ./includes/sign_up_form.jade
html
	+navbar(homepage_title, path_to_section, path_to_topic, path_to_registration)
	.container.top-buffer
		.row
			h3.col-sm-offset-2.col-sm-8 #{path_to_topic}
		.row
			.col-sm-offset-2.col-sm-8
				if messages == undefined || messages.length == 0
					p В этой теме нет сообщений
				else
					each message in messages
						+message(message, isAdmin, registered, path_to_topic)
			.col-sm-2
				+sign_up_form(registered, path_to_registration, nickname)
			if registered
				form.form-horizontal.col-sm-offset-2.col-sm-8(method='post', action='/new_message/' + path_to_section +'/' + path_to_topic)
					.form-group
						textarea.form-control(name="text", rows='3')
					.form-group
						button.btn.btn-default.right-pressed(type='submit') Отправить