.top-buffer {
  margin-top: 30px;
}
.right-pressed {
  float: right;
}
.btn-circle {
  width: 16px;
  height: 16px;
  text-align: center;
  padding: 0 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}
