include ./delete_button.jade

mixin message(message, user)
	.panel.panel-default
		.panel-heading
			.label.label-default=message['author']
			=' ' + message['timestamp']
			case role=user.role
				when role = 'admin'
					+delete_button
				when role = 'author'
					if user.id == message.author_id
						+delete_button
		.panel-body=message.content